Hi FB ID:<%= @user.fb_id %>,

Thanks for registering! To confirm your registration click the URL below.

<a href="<%= "http://localhost:3000/email_confirmation/#{@user.edu_email_confirm_token}" %>" target="_blank">Confirm Token</a>
