/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .img-thumbnail-size {
   height: 60px;
   width: auto;
 }

.dropzone-upload {
  display: flex;
  align-items: center;
}

.FileUpload div {
  width: 100%;
  text-align: center;
}

.thumbnail-caption-top-right {
  text-align: center;
  color: white;
  border-radius: 2px;
  background-color: red;
  padding: 0 5px 0 5px;
  position: absolute !important;
  top: 0;
  right: 0;
}

.thumbnail-caption-top-left {
  text-align: center;
  color: white;
  border-radius: 2px;
  background-color: red;
  padding: 0 5px 0 5px;
  position: absolute !important;
  top: 0;
  left: 0;
}

ul.nav-tabs {
  border-bottom: 0;
}

div.caption {
  height: 296px;
}

div.caption h3, div.caption a.btn {
  /*align-self: flex-end;*/
}

ul.nav {
  position: relative;
}

.nav-button {
  position: absolute;
  right: 0;
}

.grid-bottom {
  position: absolute;
  bottom: 10px;
}

.thumbnail a img {
  width: 100%;
  height: auto;
}

.sort-by-panel {
  position: relative;
}

.sort-by-panel button {
  border: 0;
  background-color: white;
}

.sort-by-panel button:focus, .sort-by-panel button:hover {
  background-color: white !important;
}

.sort-by-panel .btn-group {
  position: absolute;
  right: 0;
  top: -45px;
}

.sort-by-panel a:hover {
  cursor: pointer;
}

.pagination a {
  cursor: pointer;
}

.bottom-margin-spacing {
  margin-bottom: 10px;
}

.red {
  color: red;
}

.label:first-of-type + span {
  color: red;
}

.panel-title a:hover, .panel-title a:focus {
  text-decoration: none;
}

/*fadein fadeout navbar*/
#menu {
  display: none;
  position: fixed;
	top: 0px;
	width: 100%;
	background-color: white;
	z-index: 100;
  height: 57px;
  padding: 0;
  padding-top: 5px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.06);
}
