.chat-container {
  display: flex;
  min-height: 70vh;
}

.chat-conversations {
  border: 1px solid #e2e2e2;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100px;
  // padding: 15px;

  .chat-conversations-title {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    text-align: center;
  }

  .conversation-item {
    height: 70px;
    padding: 10px 15px 10px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background: #e2e2e2;
    }

    img {
      border-radius: 50px;
      margin-right: 15px;
    }

    span {
      font-weight: 500;
    }
  }
}

.chat-messages {
  flex: 3;
  border: 1px solid #e2e2e2;
  padding-top: 10px;
  position: relative;
}

.chat-body {
  margin: 10px 0;
  overflow-y: scroll;
  max-height: 70vh;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 35px;
}

.chat-input {
  width: 100%;
  padding: 0 !important;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  bottom: 0;

  textarea {
    resize: vertical;
    height: 30px;
    width: inherit;
    padding: 5px 10px;
    border: none;
    word-break: break-word;

    &:focus {
      outline: none;
    }
  }
}

.chat-message-body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 auto;
  position: relative;

  img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 0 10px;
  }

  span {
    display: block;
    white-space: wrap;
    word-wrap: break-word;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 2px;
    max-width: 70%;
  }
}

.mine-message {
  flex-direction: row;
  
  span {
    background: #20b2aa;
    color: white;
  }
}

.other-message {
  flex-direction: row-reverse;
  
  span {
    background: #F1F0F0
  }
}

.chat-message {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.chat-receipt {
  font-size: 10px;
  height: 15px;
  margin: 0 10px 0 auto;
}

.noti {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 5px;
}

.unread {
  background-color: lightcoral;
  box-shadow: 1px 1px 1px lightcoral;
}

.active-chat {
  background: #eee;
}

#messages-warning {
  position: relative;
  text-align: center;
  font-size: 12px;
  color: #888;
  padding: 0 10px 10px 10px;
}

@media screen and (max-width: 768px) {
  .chat-name-1 {
    display: none !important;
  }
  .chat-name-2 {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .chat-name-1 {
    display: none !important;
  }
  .chat-name-2 {
    display: flex !important;
  }
}

@media screen and (min-width: 1200px) {
  .chat-name-1 {
    display: flex !important;
  }
  .chat-name-2 {
    display: none !important;
  }
}

.mobile-chat-container {
  display: flex;
  flex-direction: column;
}

.mobile-conversations {
  display: flex;
  flex-direction: row;
  flex: none;
  border-bottom: 0;
}

.mobile-c-item {
  flex-direction: column;
  padding: 10px !important;
  width: 90px !important;

  img {
    width: 40px;
    margin-right: 0 !important;
  }
}

.mobile-c-name {
  font-size: 10px;
  margin-top: 2px;
}