.chat-container {
  display: flex;
  margin: 15px;
  width: 100%;
}

.chat-conversations {
  border: 1px solid #e2e2e2;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100px;
  padding: 15px;

  div {
    border: 1px solid black;
    height: 50px;
  }
}

.chat-messages {
  flex: 3;
  padding: 15px;
  border: 1px solid #e2e2e2;

  div {
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
  }
}