#dashboard-nav-title,
#dashboard-nav-title:hover,
#dashboard-nav-title:active {
  color: #777777 !important;
  text-transform: uppercase !important;
  font-size: 11px !important;
  letter-spacing: .15em !important;
  font-weight: 400 !important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#dashboard-nav-title > a:hover,
#dashboard-nav-title > a {
  color: #777777 !important;
}

.rfp-description {
  width: 100%;
  padding: 22px 15px 0 22px !important;
  color: #777777 !important;
  font-size: 14px !important;
  letter-spacing: .1em !important;
  font-weight: 300 !important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#rfp-delete {
  text-align: center;
}

#th-no-caret-rfp {
  padding: 0 8px 8px 10px !important;
  text-align: center;
  cursor: auto !important;
}

@media (max-width: 768px) {
  #responsive-create-text {
    display: none;
  }

  #responsive-create-icon {
    display: block;
  }
}

@media (min-width: 768px) {
  #responsive-create-text {
    display: block;
  }

  #responsive-create-icon {
    display: none;
  }
}

#create-icon-button {
  font-size: 18px !important;
  font-weight: 300 !important
}

.about-links {
  text-align: center;
  letter-spacing: 1px;
}

.no-hover:hover {
  text-decoration: none !important;
  color: lightseagreen !important;
}

.no-hover > h6:hover {
  text-decoration: none !important;
  color: lightseagreen !important;
}

.no-hover:focus {
  text-decoration: none !important;
}

.no-hover > h6:focus {
  text-decoration: none !important;
}

.letter-spacing {
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 300;
  color: #777;
}