
/*Home*/

.splash-container {
  position: relative;
  width: 50%;
}

.splash-image {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px;
  border: 1px solid grey;
}

.splash-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.splash-container:hover .splash-overlay {
  opacity: 1;
}

.splash-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
