.navbar-nav a {
  padding: 12px 0 8px 0 !important;
  margin: 2px 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .navbar-nav a:hover {
    color: black;
    padding: 12px 0 6px 0 !important;
    border-bottom: 2px solid #707070;
  }
}

/*SearchNavbar*/
.input-group {
  width: 100%;
}

#search-navbar-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

#dropdownMenu1 {
  margin-left: 5px !important;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #phone-search-nav {
    width: calc(94% - 128px) !important;
  }
}

@media screen and (min-width: 769px) {
  .search-dropdown {
    min-width: 188px !important;
    padding-left: 10px;
    z-index: 55;
  }

  #dropdownMenu1 {
    margin-left: 10px !important;
  }
}

#caret-container {
  padding-bottom: 5px !important;
}

#special-caret {
  margin-left: 10px !important;
  margin-bottom: 1px !important;
}

.search-icon {
  cursor: pointer;
  min-width: 80px;
  background: #eee;
}

@media screen and (max-width: 768px) {
  .category-dropdown {
    left: 4px !important;
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) {
  #search-query {
    max-width: 450px;
    margin-left: 90px;
  }

  .category-dropdown {
    left: 19px !important;
    cursor: pointer;
  }
}

@media screen and (min-width: 992px) {
  #search-query {
    max-width: 585px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  #search-query {
    max-width: 725px;
    margin-left: 45px;
  }
}

.category-dropdown2 {
  top: 40px !important;
  left: -1px !important;
  cursor: pointer;
}
