.navbar-nav a {
  padding: 12px 0 8px 0 !important;
  margin: 2px 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .navbar-nav a:hover {
    color: black;
    padding: 12px 0 6px 0 !important;
    border-bottom: 2px solid #707070;
  }
}
