/*Dropzone*/
.search-icons button {
  margin-right: 10px;
}
.search-icons button:hover {
  text-decoration: none;
}

.dropzone-upload {
  min-height: 150px;
  height: auto;
  margin-bottom: 20px;
  border-style: dashed;
}
/*Dropzone end*/

/*Radio button styling*/
.radio-button {
  display: block;
  height: 39px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding-top: 7px;
}

.radio-button:hover {
  cursor: pointer;
}

.radio-active {
  background-color: #5FBA7D;
  color: white;
  padding-top: 7px;
}

.radio-group > div {
  margin-right: 13px;
  width: auto;
}
/*Radio button styling end*/

#character-count {
  color: #aaa !important;
}

.control-label-custom {
  color: #777777;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .15em;
  font-weight: 400;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: right;
}

#heading-custom {
  color: #777777;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: .15em;
  font-weight: 300;
  margin-left: 15px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Post Detail*/
.margin-bottom-md {
  margin-bottom: 25px;
}

.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent !important;
  border-radius: 0.25rem;
}

.breadcrumb::after {
  display: block;
  content: "";
  clear: both;
}

.breadcrumb-item {
  float: left;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #636c72;
}

#post-description {
  min-height: 200px !important;
}

.absolute-height {
  padding: 50px 0;
  height: 100%;
}

#copy-template {
  margin-top: 10px;
}

#bookmark-btn {
  margin-right: 5px;
}

#hundred-width {
  width: 100%;
}
