.thumbnail-image {
  filter: brightness(85%);
}

.thumbnail-backdrop {
  filter: brightness(35%);
}

.carousel-caption {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 45%;
  margin: auto;
}

.category-description {
  letter-spacing: 1px !important;
  font-size: 12px !important;
}


@media screen and (max-width: 430px) {
  .category-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-caption {
    position: absolute !important;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 991px) {
  .carousel-caption {
    top: 5%;
  }
}

.category-title {
  color: white;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: none !important;
  font-size: 16px;
  font-weight: 400;
}

/*Grid View*/
.btn-special-size {
  font-size: 14px !important;
}

.btn-special-margin {
  margin-bottom: 6px !important;
}

#grid-title {
  color: #777;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: normal;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1200px) {
  #grid-title, .bottom-left-corner {
    font-size: 13px;
  }
}

#grid-caption {
  height: 125px;
  padding-top: 11px;
}

.grid-right {
  right: 20px;
}

.grid-left {
  left: 20px;
}

#margin-right {
  margin-right: 9px !important;
}

#breadcrumb-container {
  font-size: 14px;
  padding-top: 5px;
}

#no-padding-left {
  padding-left: 0 !important;
}

@media screen and (max-width: 992px) {
  #special-absolute {
    position: absolute;
    top: 22px;
    right: 10px;
  }

  #special-absolute-2 {
    position: absolute;
    top: 57px;
    right: 0;
  }
}

@media screen and (min-width: 992px) {
  #special-absolute {
    margin-right: 9px !important;
  }
}

@media screen and (max-width: 460px) {
  #result-count {
    display: none;
  }
}

@media screen and (min-width: 460px) {
  #result-count-2 {
    display: none;
  }
}