.thumbnail-image {
  filter: brightness(60%);
}

.thumbnail-backdrop {
  filter: brightness(30%);
}

.carousel-caption {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 45%;
  margin: auto;
}

.category-description {
  letter-spacing: 1px !important;
  font-size: 12px !important;
}

@media screen and (max-width: 600px) {
  .category-description {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .carousel-caption {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 430px) {
  .category-title {
    font-size: 20px;
  }
}
