.signup-form-container {
	height: 100vh;
	background: linear-gradient(rgba(86, 127, 192, 0.8), rgba(254, 193, 18, 0.6));
}

/*form styles*/
#signup-form {
	width: 400px;
	margin: auto;
	padding-top: 100px;
	text-align: center;
	position: relative;
}
#signup-form div {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	height: 250px;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first div*/
#signup-form div:not(:first-of-type) {
	display: none;
}
/*inputs*/
#signup-form input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#signup-form button {
	width: 110px;
	background: #567FC0;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 10px;
	margin: 20px 5px;
}
#signup-form button:hover,
#signup-form button:focus,
#facebook-login img:hover,
#facebook-login img:focus {
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3);
}
#facebook-login img {
	width: 250px;
	margin-top: 50px;
	cursor: pointer;
}
/*headings*/
.sf-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	padding-left: 0px;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 90%;
	height: 2px;
	background: white;
	position: absolute;
	left: -42.5%;
	top: 9px;
	/*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #567FC0;
	color: white;
}
